.wrapper{
    padding: 20px 0;
    display: flex;

}
.wrapper .buttonBorder{
    height: 40px;
    border-radius: 0px 10px 10px 0px;
}


.wrapper .input{
    border-right: none;
    border-radius: 10px 0 0 10px;
}
.wrapper .input:focus{
    border-right: none !important;
    border-radius: 10px 0 0 10px;
}

.usersTitle{
    margin: 0;
    font-size: 18px;
}

.usersList{
    margin-left: 50px;
}

.usersItem{
    font-size: 16px;
}
.usersItem span:not(:last-child){
     margin-right: 5px;
 }
.usersItem span:first-child{
    font-size: 12px;
 }

